.container {
    width: 100%;
    outline: none;
    border-radius: 20px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
  
    
}

.image1 {
   height:60%;
   width: 400px;
   overflow: hidden;
}



@media screen and (max-width: 700px) {
    .image1 {
       width: 270px;
    }
   
}