.navbar {
padding: 2rem;
width: 100%;
box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 1px 3px rgba(75, 75, 175, 0.1);
margin: 10px;
position: relative;
top: 12px;
background-color: rgb(14, 31, 31);
}
    
.img {
    height:50px;
    width: auto;
}
  
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
  
}


/* botones */
.nav-link {
font-size: 20px;
border-radius: 15px;
color:rgb(255, 255, 255);


}
.nav-link:hover {

    color: beige;
    background-color: rgb(23, 23, 103);
}

/*adaptador responsi*/

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    
}


/*icon*/

.bi2 {
  font-size: 1rem;
  color: rgb(16, 24, 99);
}
.bi2:hover{
    color: beige;
    background-color: rgb(23, 23, 103);
}