.navbar {
    width: 100%;
    height: 30px;
    transform: translateY(-225px);
  }
  
  .nav-button {
    background-color: #1e3339;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #4da8da;
  }
  