
.card {
    border-radius: 20px;
    margin: 10px;
    align-items: center;
    object-fit: cover;
    cursor: pointer;
    flex-wrap: wrap;
    width: 95%;
    display: flex;
    justify-content:space-between;
 
    
}
    

.card:hover {
   box-shadow: 5px 5px 20px 6px rgb(34, 50, 132);
   

}

.image {
    max-height: 100%;
    max-width: 120px ;
    overflow: hidden;
    object-fit: cover;
    margin:5px 0px 0px 0px;

}

.title {
    display: flex;
    font-size: 20px;
    justify-content: center;
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.paragraph {
    font-size: 20px;
    color: black;
    overflow-wrap: initial;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 700px) {
    .paragraph {
        font-size: 15px ;
    }

    
}


