.logo {
    height: 12rem;
  
}
@media screen and (max-width: 820px) {
    .logo {
        display: flex;
        height: 7rem;
        margin: auto;
        margin: 0px 10px;
    }
    .detail{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 260px;
        font-size: 0.8rem;
        margin: auto;
        margin: 0px -4.8em;
    }
   
  }
 




.detail{
    color: aliceblue;
    max-width: 400px;
  
}


#column{
    display: block;
   margin: auto;
   margin: 10px 120px;
}

