.logo {
    height: 12rem;
    margin-left: 130px;
}

@media screen and (max-width: 780px) {
    .logo {
        height: 7rem;
        justify-content: center;
        align-items: center;
    }
    .detail{
        justify-content: center;
        align-items: center;
        min-width: 300px;
        margin-left: 80px;
        font-size: 1rem;
    }
  }
 


.icons{
    margin-left: 135px ;
}

.detail{
    color: aliceblue;
    max-width: 400px;
    margin-left: 100px
}

.body1{
    margin-bottom: 80px;
}