*{
  margin: 0;
  padding: 0;
}
html,
body{
  font-size: 18px;
  background-color: rgb(250, 250, 27);
}
h1{
  max-width: 940px;
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: 1.1;
  margin: 40px 0;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  background-color: rgb(28, 30, 40);
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 20rem;
  flex-grow: 1;
  flex: 1;
  width: 100%;
  position: relative;
  top: -25px;

}
.Container {
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 300px;
  min-height: 100px;
}

.Title {
  
  font-family: 'Slackside One', cursive;
font-family: 'Tilt Prism', cursive;
  align-items: center;
  color: white;
  padding-top: 10px;
  margin: 20px;
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .Title {
      font-size: 35px;
  }
  
}


.bi {
  font-size: 3rem;
  color: chartreuse;
}
.bi1{
  font-size: 3rem;
  color: rgb(92, 95, 89);

}

/*parte inferior*/

.container-xxl  {
  background-color: rgb(94, 54, 8);
 
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-height: 150px;
  

}
.text {
font-size: 30px;
font-family: sans-serif;

}

@media screen and (max-width: 700px) {
  .text{
    
    font-size: 20px;
  }
  
}


.bi5 {
  font-size: 1.5rem;
  color: rgb(82, 107, 196);


}


.bi5:hover {
 
  color: rgb(37, 152, 45);
}

