*{
  margin: 0;
  padding: 0;
}
html,
body{
  font-size: 18px;
  background-color:rgb(17, 20, 57) ;
  
  
}
h1{
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: 1.1;
  
}
.App {
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-direction: column;
  background-color: rgb(17, 20, 57);
  min-width:550px ;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 20rem;
  flex-grow: 1;
  flex: 1;
  width: 100%;
  position: relative;
  top: -25px;

}
.Container {
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 300px;
  min-height: 100px;
}

.Title {
  
  
  font-family: 'Tilt Prism', cursive;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 2px blue;
  border-radius: 10px;
  margin: 20px;
  font-size: 3rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .Title {
      font-size: 35px;
  }
  .offers {
    font-size: 30px;
    text-transform: capitalize;
  }
  
}


.bi {
  font-size: 3rem;
  color: chartreuse;
}
.bi1{
  font-size: 3rem;
  color: rgb(92, 95, 89);

}

/* productos*/

.offers {
  font-family: 'Rubik Vinyl', cursive;
  color: rgb(170, 31, 31);
  margin: 100px;
  align-items: center;
  justify-content: center;
 
  flex-wrap: wrap;
  font-size: 2.5rem;
  

}


/*parte inferior*/

.container-xxl  {
  background-color: rgb(37, 49, 115);
 
  
  box-sizing: border-box;
  min-height: 50px;
  
  width: 100%;

}
.text {
font-size: 25px;
color: rgb(14, 14, 14);
font-family: 'Orbitron';
align-items: center;
justify-content: center;
margin: 10px 0px 0px 0px;

}


@media screen and (max-width: 700px) {
  .text{
    
    font-size: 20px;
  }
 
  
}


.bi5 {
  font-size: 1.5rem;
  color: rgb(82, 107, 196);
  margin: 11px;


}


.bi5:hover {
 
  color: rgb(37, 152, 45);
}


.btn-wsp{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgb(0,0,0,0,3);
  z-index: 100;
}
 

.btn-wsp:hover{
  text-decoration: none;
  color:#0df053 ;
  background-color: #fff;

}